@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&display=swap');

:root {
    --black-color:#000;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x: hidden;
    text-decoration: none;
    font-family: 'Hind Siliguri', sans-serif;
    list-style-type: none;
}

body {
    background-color: #eee;
}
main {
    margin:auto 12rem;
}

.nav-bar {
    display:flex;
    flex: column nowrap;
    height:3.7rem;
    width:100%;
    justify-content: space-between;
    margin:0.8rem;
    

}
.nav-title img {
    max-width:400px;
}
.nav-links {
    margin:auto 4rem;
    display:flex;
    flex-flow: row nowrap;
    width:40%;
    justify-content: space-between; 
}
.nav-links a {
    color:var(--black-color);
}

.main-title {
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.01rem;
    font-size:1.6rem;
    margin:0.5rem;
}

.email {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.email input {
    width:18rem;
    margin:0.5rem 0 0.8rem 0;
}
.e-btn {
    padding:0.2rem 0.5rem;
    font-size:1rem;
    font-weight: 600;
    background-color: orange;
    border:none;
    border-radius:0.5rem;
}

.features {
    margin:1.5rem;
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.info {
    display:flex;  
}

.info i {
    padding:2rem 4.5rem;
    font-size:3rem;
    color:orange;
}

.video {
    display:flex;
    justify-content: center;
    margin:2rem 0;
}

.trombones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem ;

}
.trombone {
    border:0.12rem solid var(--black-color);
    border-radius: 0.4rem;
}
.info-tr {
    padding:0.8rem 1.8rem;
    text-align: center;
    line-height: 2rem;
}
.info-tr h3 {
    margin:0.3rem 0;
    font-size:1.5rem;
}

.name-tr {
    background-color:lightgray;
    text-align: center;
    padding:0.6rem 0;
    font-size:1.2rem;
    font-weight: 900;
}

.select {
    background-color: orange;
    border:none;
    font-size:1rem;
    border-radius: 0.4rem;
    margin:0.8rem 0;
    padding:0.3rem 1rem;
}

.footer {
    display:flex;
    flex-direction: column;
    background-color: lightgray;
    margin:1rem 12rem;
    padding:0.5rem 1rem;
}

.footer ul {
    display:flex;
    justify-content: flex-end;
}
.footer ul li {
    margin:0 1.5rem;
}

.footer span {
    text-align: end;
}